<div id="modal-dialog" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action-ok waves-effect waves-green btn-flat">OK</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>