
.collection-form {
  padding: 20px;
  padding-top: 10px;
}

.collection-form-button {
  float: right;
  margin-bottom: 30px;
}

.collection-form-label {
  width: 100%;
}

.collection-item {
  .title {
    //color: black;
  }
  .subtitle {
    color: black;
    font-size: 0.8em;
    vertical-align: middle;

    i {
      font-size: 1.1em;
      vertical-align: middle;
    }
  }

  &.avatar {
    min-height: 64px !important;
  }
}

.iframe-parent {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  top: 32px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

nav {
  height: 32px;
  line-height: 32px;

  .product-name {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
  }

  ul a {
    font-size: 14px;
  }
}

.icon-span {
  i, span {
    vertical-align: middle;
  }
}

.clickable {
  cursor: pointer;
}
