<html>
<head>
    <title>User Administration - Groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="../../static/css/admin.css">
    <script src="../../socket.io/socket.io.js"></script>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/require-kernel.js"></script>
    <script src="../../javascripts/lib/ep_etherpad-lite/static/js/ace2_common.js?callback=require.define"></script>
    <script type="text/javascript">
		(function () {
			var pathComponents = location.pathname.split('/');
			var baseURL = pathComponents.slice(0, pathComponents.length - 4).join('/') + '/';
			require.setRootURI(baseURL + "javascripts/src");
			require.setLibraryURI(baseURL + "javascripts/lib");
			require.setGlobalKeyPath("require");
			var plugins = require('ep_etherpad-lite/static/js/pluginfw/client_plugins');
			var hooks = require('ep_etherpad-lite/static/js/pluginfw/hooks');
			plugins.baseURL = baseURL;
			plugins.update(function () {
				hooks.plugins = plugins;
				hooks.aCallAll('documentReady', 'ep_users/admin/settings');
			});
		}());
    </script>
    <link rel="stylesheet" href="../../static/plugins/ep_users/static/css/admin.css" type="text/css"/>
    <script src="../../static/plugins/ep_users/static/js/client/ep_users_admin.js"></script>
    <% e.begin_block("styles"); %>

    <% e.end_block(); %>
</head>
<body>
<div id="wrapper">
    <div class="menu">
        <h1>Etherpad</h1>
        <ul>
            <% e.begin_block("adminMenu"); %>
            <li><a href="../plugins">Plugin manager</a></li>
            <li><a href="../settings">Settings</a></li>
            <li><a href="../plugins/info">Troubleshooting information</a></li>
            <%
            e.end_block(); %>
        </ul>
    </div>
    <div class="innerwrapper">
        <h2>User Administration - Settings</h2>
        <% e.begin_block("useradminmenu"); %>
        <ul class="leftwrapper">
            <li><a href="groups">Groups</a></li>
            <li><a href="users">Users</a></li>
            <li><a href="settings">Settings</a></li>
        </ul>
        <% e.end_block(); %>

        <h2>Current configuration</h2>
        <textarea class="settings" autocomplete="off"></textarea>
        <input type="button" class="settingsButton" id="reloadSettings" value="Reload Settings">
        <input type="button" class="settingsButton" id="storeSettings" value="Save Settings">
        <div id="response"></div>
        <div class="separator"></div>
    </div>
    <h2 class="err-message"></h2>
</div>
</body>
</html>